<div role="main" class="hero">
  <div class="container search_heading_csm">
    <h1 id="search_heading_h_csm">Coastal Resilience Open Data Platform</h1>
    <p id="search_heading_t_csm">Explore and download resilience plans, project reports, and monitoring data from the National Fish and Wildlife Foundation’s Coastal Resilience programs grants.</p>
  </div>
  <div class="container">
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
    {% block stats %}
      {% snippet 'home/snippets/stats.html' %}
    {% endblock %}
  </div>
</div>
  <div class="container">
    <div class="row">
      {% block stats_nbs %}
        {% snippet 'home/snippets/stats_nbs.html' %}
      {% endblock %}
  </div>
</div>