<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <!-- <i class="fa fa-info-circle"></i> -->
    {{ _('About NFWF Programs') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        The National Fish and Wildlife Foundation administers Coastal Resilience Programs 
        that award competitive grants for longer term ecological and socioeconomic 
        monitoring of coastal restoration projects. These programs aim to more fully 
        understand the effectiveness of the range of restoration strategies on coastal 
        ecosystems and communities in order to inform future investments. Click on a 
        program to view all datasets related to that particular program.
      {% endtrans %}
    </p>
  </div>
</div>