<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <!-- <i class="fa fa-info-circle"></i> -->
    {{ _('About NFWF Grants') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        The National Fish and Wildlife Foundation supports resilience projects across the 
        United States and its territories through competitive grants. Grantees listed here 
        participate in NFWF's Coastal Resilience Programs and create, manage and publish 
        datasets to this platform. Grantees contribute data collected or generated through 
        ecological or socioeconomic monitoring undertaken during their grants. Click on a 
        grant to view all datasets contributed by a grantee.
      {% endtrans %}
    </p>
  </div>
</div>