{% set stats = h.Nfwf_Theme_get_site_statistics() %}

<div class="stats">
  <div class="inner">
    <ul>
      {% block stats_group %}
      <li>
        <a href="{{ h.url_for(controller='dataset', action='search') }}">
          <div class="number">{{ h.SI_number_span(stats.dataset_count) }}</div>
          <div class="name">{{ _('Dataset') if stats.dataset_count == 1 else _('Datasets') }}</div>
        </a>
      </li>
      <li>
        <a href="{{ h.url_for(controller='organization', action='index') }}">
          <div class="number">{{ h.SI_number_span(stats.organization_count) }}</div>
          <div class="name">{{ _('Grant') if stats.organization_count == 1 else _('Grants') }}</div>
        </a>
      </li>
      <li>
        <a href="{{ h.url_for(controller='group', action='index') }}">
          <div class="number">{{ h.SI_number_span(stats.group_count) }}</div>
          <div class="name">{{ _('Program') if stats.group_count == 1 else _('Programs') }}</div>
        </a>
      </li>
      {% endblock %}
    </ul>
  </div>
</div>
