{% set stats = h.get_site_statistics() %}
{% set groups = h.get_featured_groups(stats.group_count) %}

<div class="box stats">
  <div class="inner">
    <!-- <h3>{{ _('{0} statistics').format(g.site_title) }}</h3> -->
    <ul>
      {% block stats_group %}
      <li>
        <a href="{{ h.url_for(controller='dataset', action='search') }}">
          <strong>{{ h.SI_number_span(stats.dataset_count) }}</strong><br>
          {{ _('DATASET') if stats.dataset_count == 1 else _('DATASETS') }}
        </a>
      </li>
      <li>
        <a href="{{ h.url_for(controller='organization', action='index') }}">
          <strong>{{ h.SI_number_span(stats.organization_count) }}</strong><br>
          {{ _('GRANT') if stats.organization_count == 1 else _('GRANTS') }}
        </a>
      </li>
      <li>
        <a href="{{ h.url_for(controller='group', action='index') }}">
          <strong>{{ h.SI_number_span(stats.group_count) }}</strong><br>
          {{ _('PROGRAM') if stats.group_count == 1 else _('PROGRAMS') }}
        </a>
      </li>
      {% endblock %}
    </ul>
    <div>
      <h2 class="home_programs_heading_csm">PROGRAM DATASETS</h2>
      <div class="short_underline_csm"></div>
      <ul class="media-grid" data-module="media-grid">
        {% block group_list_inner %}
          {% for group in groups %}
            {% set type = group.type or 'group' %}
            {% set url = h.url_for(type ~ '.read', id=group.name) %}
            <li class="media-item" style="position: absolute; left: 0px; top: 15px; width:340px;">
              <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}" class="media-image img-responsive">
              <h3 class="media-heading">{{ group.display_name }}</h3>
              <a href="{{ url }}" title="{{ _('View {name}').format(name=group.display_name) }}" class="media-view">
                <span>{{ _('View {name}').format(name=group.display_name) }}</span>
              </a>
            </li>
          {% endfor %}
        {% endblock %}
      </ul>
    </div>
  </div>
</div>
