{% ckan_extends %}

{% block package_additional_info %}

<tr>
  <th scope="row" class="dataset-label">{{ _("Last Updated") }}</th>
  <td class="dataset-details">
      {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_modified %}
  </td>
</tr>

<tr>
  <th scope="row" class="dataset-label">{{ _("Created") }}</th>

  <td class="dataset-details">
      {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_created %}
  </td>
</tr>

<tr>
  <th scope="row" class="dataset-label">{{ _("Data Maintainer") }}</th>
  <td class="dataset-details">{{pkg_dict.principal_investigator}}</td>
</tr>

<tr>
  <th scope="row" class="dataset-label">{{ _("Email Address") }}</th>
  <td class="dataset-details">{{pkg_dict.point_of_contact_email}}</td>
</tr>

<tr>
  <th scope="row" class="dataset-label">{{ _("Monitoring Metric(s)") }}</th>
  <td class="dataset-details">{{', '.join((pkg_dict.resources | map(attribute='metric') | select('defined') | sum(start=[])) | unique)}}</td>
</tr>

{% endblock %}

{% block extras %}

{% endblock %}
