{% ckan_extends %}

  {% block custom_fields %}
  {% endblock %}

  #}

{% block package_metadata_fields %}

<h2>Data Labels</h2>

{% set groups_available = h.groups_available(am_member=True) %}
{% set user_is_sysadmin = h.check_access('sysadmin') %}
{% set show_groups_selector = groups_available %}
{% set show_visibility_selector = dataset_has_group or (groups_available and (user_is_sysadmin or dataset_is_draft)) %}

{% set group_name = 'groups__%s__id' % data.groups|length %}

{% if show_groups_selector %}
<div class="control-group control-full">
  <span title="This field is required" class="control-required">*</span>
  <label  class="control-label" for="field-group">{{ _('Program Affiliation') }}<i class="fa fa-info-circle" title="The NFWF Program under which the grant was awarded."></i></label>
  <div class="controls">
    <select id="field-group" name="{{ group_name }}" data-module="autocomplete">

      {% set groups_available_count = groups_available|length %}

      {% if groups_available_count < 2 %}
      
        {% for group in h.default_group(groups_available) %}
        <option value="{{ group.id }}" selected="selected">{{ group.title }}</option>
        {% endfor %}      

      {% else %}
      
        {% if data.groups %}

          {% for group in data.groups %}
          <option value="{{ group.id }}" selected="selected">{{ group.title}}</option>
          {% endfor %}

          {% for group in h.groups_reload(groups_available,data.groups) %}
          <option value="{{ group.id }}">{{ group.title }}</option>
          {% endfor %}

        {% else %}
        
            <option value="">--Please choose an option--</option>

            {% for group in groups_available %}
                <option value="{{ group.id }}">{{ group.title }}</option>
            {% endfor %}      

        {% endif %}

      {% endif %}

    </select>
  </div>
</div>
{% endif %}

<br>

<div class="control-group">
  <label class="control-label" for="field-resilience_grant">{{ _("Resilience Grant(s)") }}<i class="fa fa-info-circle" title="The resilience grant ID assigned to the restoration project where monitoring is taking place."></i></label>
  <div class="controls">
    <select id="field-resilience_grant" name="resilience_grant" data-module="autocomplete" multiple>
      {% for resilience_grant in h.resilience_grants()  %}
        <option value="{{ resilience_grant }}" {% if resilience_grant in data.get('resilience_grant', []) %}selected="selected"{% endif %}>{{ resilience_grant }}</option>
      {% endfor %}
    </select>
  </div>
</div>



<br>
<div class="control-group">
  <label class="control-label" for="field-restoration_activity">{{ _("Restoration Activities") }}<i class="fa fa-info-circle" title="This refers to the broad category of on the ground action performed during the restoration project."></i></label>
  <div class="controls">
    <select id="field-restoration_activity" name="restoration_activity" data-module="autocomplete" multiple>
      {% for restoration_activity in h.restoration_activities()  %}
        <option value="{{ restoration_activity }}" {% if restoration_activity in data.get('restoration_activity', []) %}selected="selected"{% endif %}>{{ restoration_activity }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<br>

  <div class="control-group">
    <span title="This field is required" class="control-required">*</span>
    <label class="control-label" for="field-metric_category">{{ _("Metric Category") }}<i class="fa fa-info-circle" title="The category of metric outcomes for which the data are collected." ></i></label>
    <div class="controls">
      <select id="field-metric_category" name="metric_category" data-module="autocomplete">
        <option value="">--Please choose an option--</option>
        {% for metric_category in h.metric_categories()  %}
          <option value="{{ metric_category }}" {% if metric_category in data.get('metric_category', []) %}selected="selected"{% endif %}>{{ metric_category }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <br>
  <div class="control-group">
    <label class="control-label" for="field-metric_class">{{ _("Metric Classes") }}<i class="fa fa-info-circle" title="Metric classes are broad groupings of associated metrics." ></i></label>
    <div class="controls">
      <select id="field-metric_class" name="metric_class" data-module="autocomplete" multiple>
        {% for metric_class in h.metric_classes()  %}
          <option value="{{ metric_class }}" {% if metric_class in data.get('metric_class', []) %}selected="selected"{% endif %}>{{ metric_class }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <br>
  <div class="control-group">
    <label class="control-label" for="field-measurement_stage">{{ _("Measurement Stage(s)") }}<i class="fa fa-info-circle" title="Choose as many as are applicable. Measurement stages include 1) monitoring: data which is being collected for evaluation, 2) baseline: collecting or utilizing previously collected data, 3) control: collecting data from a site where no restoration occurred in addition to the monitoring site, or 4) reference: a site sharing characteristics of the restoration site that will be used to compare with monitoring data."></i></label>
    <div class="controls">
      <select id="field-measurement_stage" name="measurement_stage" data-module="autocomplete" multiple>
        {% for measurement_stage in h.measurement_stages()  %}
          <option value="{{ measurement_stage }}" {% if measurement_stage in data.get('measurement_stage', []) %}selected="selected"{% endif %}>{{ measurement_stage }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <br>
  <div class="control-group">
    <label class="control-label" for="field-reporting_year">{{ _("Reporting Year(s)") }}<i class="fa fa-info-circle" title="The year(s) covered by the dataset."></i></label>
    <div class="controls">
      <select id="field-reporting_year" name="reporting_year" data-module="autocomplete" multiple>
        {% for reporting_year in h.reporting_years()  %}
          <option value="{{ reporting_year }}" {% if reporting_year in data.get('reporting_year', []) %}selected="selected"{% endif %}>{{ reporting_year }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <br>
  <div class="control-group">
    <label class="control-label" for="field-state_abbr">{{ _("States and/or Territories") }}<i class="fa fa-info-circle" title="Two digit state codes of State(s) in which data were collected."></i></label>
    <div class="controls">
      <select id="field-state_abbr" name="state_abbr" data-module="autocomplete" multiple>
        {% for state_abbr in h.state_abbreviations()  %}
          <option value="{{ state_abbr }}" {% if state_abbr in data.get('state_abbr', []) %}selected="selected"{% endif %}>{{ state_abbr }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="field-test">{{ _("Testy Testy test") }}<i class="fa fa-info-circle" title="Test."></i></label>
    <div class="controls">
      <select id="field-test" name="test" data-module="autocomplete" multiple>
        {% for test in h.test()  %}
          <option value="{{ test }}" {% if test in data.get('test', []) %}selected="selected"{% endif %}>{{ test }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <br>

  {% block package_basic_fields_tags %}
{% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
{{ form.input('tag_string', id='field-tags', label=_('Optional Tags'), placeholder=_('e.g. dam removal, oysters, remote sensing'), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}
{% endblock %}


  {% block package_metadata_fields_url %}
  {% endblock %}

  {% block package_metadata_author %}
  {% endblock %}

  {% block package_metadata_fields_maintainer %}
  {% endblock %}
<!--
  {{ form.input('principal_investigator', label=_('Data Maintainer - Name'), id='field-principal_investigator', placeholder=_('Cindy Nekton'), value=data.principal_investigator, error=errors.principal_investigator, classes=['control-medium']) }}
  {{ form.input('point_of_contact_email', label=_('Data Maintainer - Email'), id='field-point_of_contact_email', placeholder=_('NektonC@email.gov'), value=data.point_of_contact_email, error=errors.point_of_contact_email, classes=['control-medium']) }}
  {{ form.input('point_of_contact_phone', label=_('Point of Contact - Phone'), id='field-point_of_contact_phone', placeholder=_('Phone number of principal investigator'), value=data.point_of_contact_phone, error=errors.point_of_contact_phone, classes=['control-medium']) }}
  {{ form.input('alt_point_of_contact_name', label=_('Alternate Contact - Name'), id='field-alt_point_of_contact_name', placeholder=_(''), value=data.alt_point_of_contact_name, error=errors.alt_point_of_contact_name, classes=['control-medium']) }}
  {{ form.input('alt_point_of_contact_email', label=_('Alternate Contact - Email'), id='field-alt_point_of_contact_email', placeholder=_(''), value=data.alt_point_of_contact_email, error=errors.alt_point_of_contact_email, classes=['control-medium']) }}
  {{ form.input('alt_point_of_contact_phone', label=_('Alternate POC - Phone'), id='field-alt_point_of_contact_phone', placeholder=_('Phone number of alternate point of contact'), value=data.alt_point_of_contact_phone, error=errors.alt_point_of_contact_phone, classes=['control-medium']) }}
  -->

  {% block package_basic_fields_license %}
  <div class="form-group">
    {% set error = errors.license_id %}
    <label class="control-label" for="field-license">{{ _("License") }}</label>
    <div class="controls">
      <div class="row">
        <div class="col-md-6">
          <select id="field-license" name="license_id" data-module="autocomplete">
            {% set existing_license_id = data.get('license_id') %}
            {% for license_id, license_desc in h.license_options(existing_license_id) %}
            <option value="{{ license_id }}" {% if existing_license_id == license_id %}selected="selected"{% endif %}>{{ license_desc }}</option>
            {% endfor %}
          </select>
          {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
        </div>
        <div class="col-md-6">
          <span class="info-block info-inline">
            <i class="fa fa-info-circle"></i>
            {% trans %}
            License definitions and additional information can be found
            at <a href="http://opendefinition.org/licenses/">opendefinition.org</a>
            {% endtrans %}
          </span>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {{ super() }}

{% endblock %}

